.search {
	position: relative;
	.search-icon {
		color: @gray;
		font-size: 18px;
		position: absolute;
		left: 15px;
	}

	.search__field {
		text-indent: 30px;
		border: none;
		padding: 0px 10px 0px 10px;
		width: 309px;
	}
	.search__field::-webkit-input-placeholder {
		font-size: 14px;
	}

	.search__field::-moz-placeholder {
		font-size: 14px;
	}

	.search__field:-ms-input-placeholder {
		font-size: 14px;
	}

	.search__field:-moz-placeholder {
		font-size: 14px;
	}
}

.home {
	.prodaq-nav {
		border-top: 1px solid @grayLighter;
		border-bottom: 1px solid @grayLighter;
		background-color: #fff;

	}

	.prodaq-nav .prodaq-nav__site-nav {
		ul>li>a {
			color: @grayDark;
		}
		ul>li>a:hover {
				color: #0095C5;
		}
	}



	.search {
		.search-icon {
			top: 20px;
		}
		.search__field {
			height: 61px;
			border-right: 1px solid @grayLighter;
			border-left: 1px solid @grayLighter;
		}
	}

		.prodaq-nav .prodaq-nav__links li a.request {
		background-color: #0092BC;
		color: @white;
		border-radius: 3px;
		border: 0;
		line-height: 0;
		padding: 18px 10px;
	}


}

.prodaq-nav .prodaq-nav__wrap a.brand {
	width: 145px;
	border-right: 1px solid @grayLighter;

	svg {
		max-width: 36px;
		margin: 7px 11px 0px 0px;
		display: inline-block;
		float: left;
	}

	.mark_container {
		display: inline-block;
		float: left;

			h1 {
				font-size: 20px;
				font-weight: bold;
				font-family: 'SourceSansProSemiBold';
				color: @black;
				margin-top: 14px;
			}
		}
}

.page-template-default, .post-type-archive, .single {
 	#Layer_2 .cls-nav {
		fill: @white;
	}
	.prodaq-nav .prodaq-nav__wrap a.brand {
		h1 {
			color: @white;
		}
	}
	.prodaq-nav .prodaq-nav__site-nav ul>li>a {
		font-weight: bold;
		color: @white;
	}

	.prodaq-nav .prodaq-nav__site-nav ul>li.active>a {
		color: @blueLight;
	}

	.prodaq-nav .prodaq-nav__site-nav ul>li>a:hover {
		color: @blueLight;
	}


	.search {
		.search-icon {
			top: 7px;
			color: @white;
		}
		.search__field {
			background: rgba(255, 255, 255, 0.3);
			text-indent: 30px;
			height: 34px;
			border: none;
			border-radius: 68px;
		}

		.search__field::-webkit-input-placeholder {
			color: @white;
		}

		.search__field::-moz-placeholder {
			color: @white;
		}

		.search__field:-ms-input-placeholder {
			color: @white;
		}

		.search__field:-moz-placeholder {
			color: @white;
		}

	}
	.prodaq-nav .prodaq-nav__links {
		margin-top:7px;
	}
	.prodaq-nav .prodaq-nav__links li a.request {
		background-color: @white;
		color: #0092BC;
		border: 1px solid #0092BC;
		border-radius: 3px;
		line-height: 0;
		padding: 18px 10px;
	}

}



.nav>li>a.search-toggle {
	display: none;
}
.search-toggle.right {
	position: absolute;
	top: 0px;
	right: 15px;
	cursor: pointer;
}



	// Back to normal stuff

.prodaq-nav{
	position: fixed;
	width: 100%;
	transition: all 0.25s ease;
	z-index: 1000;
	&.filled{
		background: @white;
		box-shadow:0 2px 5px 2px rgba(20,20,20,0.15);

		.prodaq-nav__site-nav {
			ul>li>a {
				color: @grayDark;
				font-weight:400;
			}
			ul>li>a:hover {
					color: #0095C5;
			}
		}

		.search {
			.search-icon {
				top: 20px;
				color: @gray;
			}

			.search__field {
				height: 61px;
				border-radius: 0;
				border-right: 1px solid @grayLighter;
				border-left: 1px solid @grayLighter;
			}
			.search__field::-webkit-input-placeholder {
				color: @gray;
			}

			.search__field::-moz-placeholder {
				color: @gray;
			}

			.search__field:-ms-input-placeholder {
				color: @gray;
			}

			.search__field:-moz-placeholder {
				color: @gray;
			}
		}

		.prodaq-nav__links {
			margin-top: 0;
			li a.request {
			background-color: #0092BC;
			color: @white;
			}
		}

		.prodaq-nav__wrap a.brand {
			svg #Layer_2 .cls-nav{
					fill: @nasdaqBlue;
			}
			h1 {
			 color: @black !important;
	 		}
		}

		.prodaq-nav__selector{
			border-left-color: rgba(0,0,0,0.15);
			border-right-color: rgba(0,0,0,0.15);
			.btn-group .dropdown-toggle{
				color: @nasdaqBlue;
				.caret{
					border-top-color: @nasdaqBlue;
				}
			}
		}
		.prodaq-nav__site-nav{
			ul{
				> li{
					> a{
						color: @nasdaqBlue;
					}
				}
			}
		}
		.prodaq-nav__links li a{
			color: @nasdaqBlue;
		}
	}
	.prodaq-nav__wrap{
		padding: 5px 0;

	}



	.brand{
		display: inline-block;
		width: 45px;

		svg{
			.cls-nav{
				fill: @nasdaqBlue;
			}
		}
	}
	.prodaq-nav__selector{
		display: none;
		width: 200px;
		border-left: 1px solid rgba(255, 255,255, 0.25);
		border-right: 1px solid rgba(255, 255,255, 0.25);
		vertical-align: top;
		margin: 0 15px;
		.btn-group{
			.dropdown-toggle{
				width: 200px;
				background: transparent;
				border: 0;
				color: @white;
				text-align: left;
				font-size: 16px;
				padding: 12px;
				.caret{
					float: right;
					border-top-color: @white;
					margin-top: 6px;
				}
			}
			.dropdown-menu{
				width: 200px;
				border-radius: 0;
				border: 0;
				li{
					a{
						border-radius: 0;
						padding: 12px 15px;
					}
				}
			}
		}
	}
	.prodaq-nav__site-nav{
		display: inline-block;
		vertical-align: top;
		ul{
			> li{
				> a{
					padding: 0 15px;
					line-height: 50px;
					color: @grayDarkest;
					&:hover{
						background: transparent;
					}

				}
				&.active{
					> a{
						background: transparent;
						color: @blue;
					}
				}
			}
		}
	}
	.prodaq-nav__links{
		float: right;
		margin-bottom: 0;
		li{
			display: inline-block;
			margin-left: 10px;
			a{
				color: @nasdaqBlue;
				display: block;
				padding: 0 10px;
				line-height: 50px;
				text-decoration: none;
			}
		}
	}
}
